<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.UserDao" >
  <sql id="BASE_TABLE">
    t_user
  </sql>

  <sql id="BASE_COLUMN">
    userId,userName,password,phone
  </sql>

  <insert id="insert" parameterType="com.winterchen.model.UserDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      userName,password,
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{userName, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},
      <if test="phone != null">
        #{phone, jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectUsers" resultType="com.winterchen.model.UserDomain">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
  </select>
  <select id="selectUsersByname" resultType="com.winterchen.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where userName = #{name}
  </select>

  <select id="queryUsersByMobile" resultType="com.winterchen.model.UserDomain">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where phone = #{mobile}
  </select>

  <select id="queryMobile" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT
       count(*)
    FROM
    <include refid="BASE_TABLE"/>
    WHERE phone = #{mobile}

  </select>
  <select id="queryUserById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
    count(userId)
    FROM
    <include refid="BASE_TABLE"/>
    WHERE userId = #{userId}

  </select>
  <update id="updateMobile" parameterType="java.lang.String">
    update
    <include refid="BASE_TABLE"/>
    set phone = #{newMobile}
    where phone = #{oldMobile}
  </update>
  <update id="updatePasswd" parameterType="java.lang.String">
    update
    <include refid="BASE_TABLE"/>
    set password = #{newPasswd}
    where phone = #{mobile}
  </update>
  <delete id="deleteUser" parameterType="java.lang.String" >
    delete
    from <include refid="BASE_TABLE"/>
    where  phone = #{mobile}

  </delete>


</mapper>